
body{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    background-color: rgb(50, 35, 35);

}
h1 {
    font-size: 8rem;
    font-family: fantasy;
}

.letter {
    transition: 1000ms;
}